.profile-img {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hor-line {
    margin: 25px 0;
    height: 0.5px;
    background: black;
    background: 
        -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), 
        color-stop(50%, black));
}

.icon-holders {
    display: flex;
    justify-content: center;

}