.secondary-main {
    margin-top: 15px;
    border: 1.5px solid;
    border-top: 0;
    border-bottom: 0;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sec-content-wrapper {
    padding: 20px;
}